* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: beige;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

table {
  margin: auto auto;
  border-collapse: collapse;
}
th {
  border: 1px solid black;
  padding: 10px 20px;
}
td {
  border: 1px solid black;
  padding: 10px 20px;
}
